*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: aquamarine;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    padding-left: 1rem;
}

.header .menu .ul{
    display: flex;
    list-style-type: none;
}

.header .menu .ul .li {
    padding: 1rem;
    transition: .3s;
    font-weight: bold;
}

